# Handin exercise for week 5: Pandas

## Ex1 Use data from Danmarks Statistik - Databanken
1. Go to https://www.dst.dk/da/Statistik/brug-statistikken/muligheder-i-statistikbanken/api#testkonsol
2. Open 'Konsol' and click 'Start Konsol'
3. In the console at pt 1: choose 'Retrieve tables', pt 2: choose get request and json format and pt 3: execute:
  1. check the result
  2. in the code below this same get request is used to get information about all available data tables in 'databanken'. 
4. Change pt. 1 in the console to 'Retrieve data', pt 2: 'get request' and Table id: 'FOLK1A', format: csv, delimiter: semicolon and click: 'Variable and value codes' and choose some sub categories (Hint: hover over the codes to see their meaning). Finally execute and see what data you get.
5. With data aggregation and data visualization answer the following questions:
  1. What is the change in pct of divorced danes from 2008 to 2020?
  2. Which of the 5 biggest cities has the highest percentage of 'Never Married' in 2020?
  3. Show a bar chart of changes in marrital status in Copenhagen from 2008 till now
  4. Show 2 plots in same figure: 'Married' and 'Never Married' for all ages in DK in 2020 (Hint: x axis is age from 0-125, y axis is how many people in the 2 categories). Add lengend to show names on graphs
  
## Ex2 Use another table (extra)
Choose any of the other tables in 'databanken' to find interesting data.
1. Collect the data
2. Pose 5 or more interesing questions to the data
3. Answer the questions by aggregating the data
4. Illustrate the answers with visual plots

In [1]:
import pandas as pd 
url = 'https://api.statbank.dk/v1/tables'
dst = pd.read_json(url)
dst.to_csv('dk-stat-all-tables.csv', encoding='utf-8', index=False)
dst[:20]

,id,text,unit,updated,firstPeriod,latestPeriod,active,variables
0,FOLK1A,Folketal den 1. i kvartalet,antal,2021-02-11T08:00:00,2008K1,2021K1,True,"[område, køn, alder, civilstand, tid]"
1,FOLK1B,Folketal den 1. i kvartalet,antal,2021-02-11T08:00:00,2008K1,2021K1,True,"[område, køn, alder, statsborgerskab, tid]"
2,FOLK1C,Folketal den 1. i kvartalet,antal,2021-02-11T08:00:00,2008K1,2021K1,True,"[område, køn, alder, herkomst, oprindelsesland..."
3,FOLK1D,Folketal den 1. i kvartalet,antal,2021-02-11T08:00:00,2008K1,2021K1,True,"[område, køn, alder, statsborgerskab, tid]"
4,FOLK1E,Folketal den 1. i kvartalet,antal,2021-02-11T08:00:00,2008K1,2021K1,True,"[område, køn, alder, herkomst, tid]"
5,FOLK2,Folketal 1. januar,antal,2021-02-11T08:00:00,1980,2021,True,"[alder, køn, herkomst, statsborgerskab, oprind..."
6,KRYDS1,Folketal 1. januar,antal,2021-02-11T08:00:00,2019,2021,True,"[Hovedpersons herkomst, Hovedpersons fødeland,..."
7,KRYDS2,Personer med dansk oprindelse 1. januar,antal,2021-02-11T08:00:00,2019,2021,True,"[Hovedpersons fødeland, forældres fødeland og ..."
8,KRYDS3,Folketal 1. januar,antal,2021-02-11T08:00:00,2019,2021,True,"[Hovedpersons herkomst, Hovedpersons fødeland,..."
9,KRYDS4,Folketal 1. januar,antal,2021-02-11T08:00:00,2019,2021,True,"[Hovedpersons herkomst, forældres fødeland og ..."
10,FOLK3,Folketal 1. januar,antal,2021-02-11T08:00:00,2008,2021,True,"[fødselsdag, fødselsmåned, fødselsår, tid]"
11,FT,Folketal (summariske tal fra folketællinger),antal,2021-02-11T08:00:00,1769,2021,True,"[hovedlandsdele, tid]"
12,BEF5F,Personer født på Færøerne og bosat i Danmark 1...,antal,2021-02-11T08:00:00,2008,2021,True,"[køn, alder, forældrenes fødested, tid]"
13,BEF5G,Personer født i Grønland og bosat i Danmark 1....,antal,2021-02-11T08:00:00,2008,2021,True,"[køn, alder, forældrenes fødested, tid]"
14,BEF5,Folketal pr. 1. januar,antal,2021-02-11T08:00:00,1990,2021,True,"[køn, alder, fødeland, tid]"
15,BY3,Folketal 1. januar,-,2020-06-11T08:00:00,2017,2020,True,"[byområder og landdistrikter, folketal, areal ..."
16,BY1,Folketal 1. januar,antal,2020-04-29T08:00:00,2010,2020,True,"[byområder og landdistrikter, alder, køn, tid]"
17,BY4,Husstande 1. januar,antal,2020-04-29T08:00:00,2010,2020,True,"[byområder og landdistrikter, husstandstype, a..."
18,BY2,Folketal 1. januar,antal,2020-04-29T08:00:00,2010,2020,True,"[kommune, bystørrelse, alder, køn, tid]"
19,BEF4,Folketal 1. januar,antal,2020-04-01T08:00:00,1901,2020,True,"[øer, tid]"

In [3]:
pd.read_csv('https://api.statbank.dk/v1/data/FOLK1A/CSV?delimiter=Semicolon&OMR%C3%85DE=*&K%C3%98N=1%2C2&ALDER=*&CIVILSTAND=U%2CG&Tid=2020K4',sep=';')

            OMRÅDE      KØN   ALDER      CIVILSTAND     TID  INDHOLD
0      Hele landet     Mænd   I alt           Ugift  2020K4  1520367
1      Hele landet     Mænd   I alt  Gift/separeret  2020K4  1072984
2      Hele landet     Mænd    0 år           Ugift  2020K4    31397
3      Hele landet     Mænd    0 år  Gift/separeret  2020K4        0
4      Hele landet     Mænd    1 år           Ugift  2020K4    31786
...            ...      ...     ...             ...     ...      ...
53335      Aalborg  Kvinder  123 år  Gift/separeret  2020K4        0
53336      Aalborg  Kvinder  124 år           Ugift  2020K4        0
53337      Aalborg  Kvinder  124 år  Gift/separeret  2020K4        0
53338      Aalborg  Kvinder  125 år           Ugift  2020K4        0
53339      Aalborg  Kvinder  125 år  Gift/separeret  2020K4        0

[53340 rows x 6 columns]